body {
  color: #ffffff;
  font-family:Monospace;
  font-size:13px;
  text-align:center;
  font-weight: bold;
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
}

#info {
  position: absolute;
  top: 0px; width: 100%;
  padding: 5px;
}

a {
  color: #ffffff;
}